[{sasl,[
		{sasl_error_logger,false},
		{error_logger_mf_dir, "./log/logs"},
		{error_logger_mf_maxbytes,10485760},
		{error_logger_mf_maxfiles,10}
		]},
 {shout,
	[
		{port,3000},
		{list_file, "./shout/pliki/listy.dat"},
		{start_file,"./shout/pliki/playlists/mp3data.tmp"},
		{play_Dir,"./shout/pliki/playlists"},
		{gui_file,"./shout/pliki/gui_file.xml"}
	]}
].